body{
    background-image: url(Sources/Background.gif);
}

img{
    height: 50%;
    width: 50%;    
    text-align: center;
}

.botones{

}

.Cuerdas{
    width: 30%;
    border-radius: 30px;
    background-color: aqua;
}

